<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      

        <add name="Movie_Rental_System.Properties.Settings.Movie_RentalConnectionString"
            connectionString="Data Source=DESKTOP-RKR1NPF;Initial Catalog=Movie_Rental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>